{% extends "jmbo/inclusion_tags/modelbase_detail.html" %}
{% load i18n jmbo_template_tags humanize %}

{% block content %}
    {% jmbocache 3600 'object-detail-inclusion' object.id object.modified %}
        {% if '<img' not in object.content %}
            {% if object.image %}
                <img src="{{ object.image_detail_url }}" />
            {% endif %}
        {% endif %}
        {{ object.content|safe }}
    {% endjmbocache %}

    {% if can_enter %}
        {% if competition_entry_form.is_multipart %}
            <form enctype="multipart/form-data" action="{% url "competition-detail" object.slug %}" method="POST">
        {% else %}
            <form action="{% url "competition-detail" object.slug %}" method="POST">
        {% endif %}
            {% if object.question %}
                <div class="title question">{{ object.question }}</div>
                {% if object.question_blurb %}{{ object.question_blurb|safe }}{% endif %}
            {% endif %}
            {% csrf_token %}
            {% for field in competition_entry_form.visible_fields %}
                {% if field.name == "accept_terms" %}
                    <div class="field">{{ field.errors }} {{ field }}
                        {% url "competition-terms" object.slug as terms_url %}
                        {% blocktrans %}I accept the <a href="{{ terms_url }}">terms</a> of this competition{% endblocktrans %}
                   </div>
                {% else %}
                    <div class="field">
                        <div class="required">{{ field.label_tag }} {{ field.errors }}
                            <div class="helptext">{{ field.helptext }}</div>
                            {{ field }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% for field in competition_entry_form.hidden_fields %}{{ field }}{% endfor %}
            <div class="buttons">
                <input type="submit" value="{% trans "Submit entry" %}" />
            </div>
        </form>
    {% else %}
        {% jmbocache 3600 'object-detail-inclusion-reason' object.id object.modified reason %}
            <p class="reason">
                {% if reason == 'auth_required' %}
                    <a href="{% url "login" %}?next={{ request.META.PATH_INFO }}">{% trans "You must be signed in to enter" %}</a>.
                {% else %}
                    {% if reason == 'max_entries' %}
                        {% trans "You have entered this competition the maximum number of times" %}.
                    {% else %}
                        {% if reason == 'ended' %}
                            {% trans "The competition is closed" %}.
                        {% else %}
                            {% trans "The competition opens" %} {{ object.start_date|naturalday:"D d N 'y" }}.
                        {% endif %}
                    {% endif %}
                {% endif %}
            </p>
        {% endjmbocache %}
    {% endif %}
{% endblock %}
